@*<h1>AzureCosmos Db</h1>
<form method="post">
    <button name="accion" value="iniciar" class="btn btn-danger">
        Generar recursos cosmos db
    </button>
</form>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>*@

<a asp-controller="Coches" asp-action="Vehiculos" class="btn btn-outline-success">Vehiculos</a>
<a asp-controller="Coches" asp-action="BuscadorCoches" class="btn btn-outline-info">Buscador</a>